<div class="jobsList">
  <table class="table">
    <thead>
      <tr class="row">
        <th scope="col" class="col-lg-3">Company</th>
        <th scope="col" class="col-lg-2">Position</th>
        <th scope="col" class="col-lg-5">Progress</th>
        <th scope="col" class="col-lg-2">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" *ngFor="let job of jobs">
        <td class="col-lg-3">{{job.name}}</td>
        <td class="col-lg-2">{{job.position}}</td>
        <td class="col-lg-5">
          <div class="progressBarGradient" [style.width]="job.progress + '%'">
            {{job.progress}}
          </div>
        </td>
        <td class="col-lg-2">{{job.status}}</td>
      </tr>
    </tbody>
  </table>
</div>
