<table class="table table-striped">
  <thead>
    <tr class="row">
      <th scope="col" class="col-lg-2">Date</th>
      <th scope="col" class="col-lg-2">Time</th>
      <th scope="col" class="col-lg-2">Company</th>
      <th scope="col" class="col-lg-6">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row" *ngFor="let event of events">
      <td class="col-lg-2">{{ event.date }}</td>
      <td class="col-lg-2">{{ event.time }}</td>
      <td class="col-lg-2">{{ event.company }}</td>
      <td class="col-lg-6">
        <p id="events-list-position">{{ event.info.role }}</p>
        <p>{{ event.info.reminder }}</p>
      </td>
    </tr>
  </tbody>
</table>